<section>
  <div class="features">
    <div class="features-content">
      <img src="../../../../assets/images/airplane.svg" alt="Free Shipping" class="features-icon">
      <div>
        <h4>Free Shipping</h4>
        <p>Free shipping on all order</p>
      </div>
    </div>
    <div class="features-content">
      <img src="../../../../assets/images/chat.svg" alt="Online Support" class="features-icon">
      <div>
        <h4>Online Support</h4>
        <p>Support online 24-7</p>
      </div>
    </div>
    <div class="features-content">
      <img src="../../../../assets/images/piggy_bank.svg" alt="Money Return" class="features-icon">
      <div>
        <h4>Money Return</h4>
        <p>Back guarantee 7 days</p>
      </div>
    </div>
    <div class="features-content border-0">
      <img src="../../../../assets/images/credit-card.svg" alt="Secure Payment" class="features-icon">
      <div>
        <h4>Secure Payment</h4>
        <p>All cards accepted</p>
      </div>
    </div>
  </div>
</section>