.wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

app-header {
    background-color: white;
    position: relative;
    z-index: 5;
    @media (min-width: 992px) {
        position: sticky;
        top: 0;
    }
}

main {
    position: relative;
    flex: 1;
    z-index: 2;
}
app-footer {
    background-color: white;
    position: relative;
    z-index: 5;
    bottom: 0;
}